---
layout: default
---

<h2>{{ site.tags[page.tag].size }} posts tagged as "{{ page.tag }}" </h2>
<ul class="posts">
{% for post in site.tags[page.tag] %}
	<li><span class="date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>{% if post.author %} <span class="author"> by {{ post.author }}</span>{% endif %}</li>
{% endfor %}
</ul>


{% if page.related %}
<span id="related">
<h2> Related Tags : </h2>
<ul>
{% for tag in page.related %}
	<li>
		<a href="/tag/{{ tag }}">{{ tag }}</a>
	</li>
{% endfor %}
</ul>
</span>
{% endif %}